<div class="section-footer-wrapper">

  <h3>ESCRIBENOS UN MENSAJE</h3>
  <h2>studio@eclaire.co</h2>
  <ul class="contact">
    <li class="cellphone">: +57 313 377 5232</li>
    <li class="phone">+57 1 631 3820</li>
    <li class="address">Edificio Kaiwa Calle 123 # 7 – 51</li>
    <br>
    <br>
    <li class="city">Bogotá, Colombia</li>
    <br>
    <br>
    <li class="instagram"><a href="https://www.instagram.com/eclairearq/"><img src="../../../assets/images/footer/inst.png" alt="Siguenos en nuestas redes. Facebook"></a></li>
    <li class="twitter"><a href="https://www.instagram.com/eclairearq/"><img src="../../../../assets/images/footer/twitter.png" alt="Siguenos en nuestas redes. Facebook"></a></li>
    <li class="facebook"><a href="https://www.instagram.com/eclairearq/"><img src="../../../../assets/images/footer/facebook.png" alt="Siguenos en nuestas redes. Facebook"></a></li>
  </ul>
  <h4>
    COPYRIGHT © 2020 ÉCLAIRE. TODOS LOS DERECHOS RESERVADOS. SUJETO A TERMINOS Y CONDICIONES DE LA MARCA.
  </h4>

</div>
